@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf')  format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-BoldCondensed';
  src: url('../fonts/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-BoldCondensed.woff') format('woff'), url('../fonts/Roboto-BoldCondensed.ttf')  format('truetype'), url('../fonts/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/Roboto-Condensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Condensed.woff') format('woff'), url('../fonts/Roboto-Condensed.ttf')  format('truetype'), url('../fonts/Roboto-Condensed.svg#Roboto-Condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf')  format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
}

main {
    display: block;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.saving-programs {
    background-image: url(../img/architecture_bg.jpg);
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 15px #e1e5e9;
}

h2 {
    text-align: center;
    color: #00376b;
    font-size: 34px;
    letter-spacing: 0.8px;
    margin: 5px auto 0;
    padding: 45px 0 30px;
    font-family: Roboto-BoldCondensed;
}

h3 {
    color: #00376b;
    margin: 0 auto 15px;
    font-family: Roboto-Bold;
    font-size: 22px;
    letter-spacing: 0.7px;
}

.programs {
    display: flex;
    flex-wrap: wrap;
	margin:0 -20px;
}

.program_wrapper {
    padding: 0px 20px 55px;
    width: 33.333%;
    box-sizing: border-box;
}

.programs .program {
    position: relative;
    box-shadow: 0 0 5px #e1e5e9;
}

.programs .redline {
    background: url(../img/pattern_diagonal.png) rgba(196,0,10,0.75);
    height: 85px;
}

.programs .inner {
    background-color: rgba(255,255,255,0.75);
    padding: 60px 30px 45px;
    font-family: Roboto-Bold;
}

.programs .percent {
    text-align: center;
    color: #c4000a;
    font-size: 66px;
}

.programs .text {
    text-align: center;
    font-size: 24px;
}

.programs .icon {
    background: url(../img/sprites.svg) #FFFFFF;
    border-radius: 50%;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 25px;
	left:0;
	right:0;
	margin:auto;
}

.programs .start .icon {
    background-position: -990px -490px;
}
.programs .optimum .icon {
    background-position: -145px -490px;
}
.programs .maximum .icon {
    background-position: -300px -490px;
}

.safety {
    background-image: url(../img/pattern_diagonal.png);
    text-align: center;
    background-position: center center;
    padding-bottom: 25px;
}

.safety-text1, .safety-text2, .safety-text3 {
    text-align: justify;
    background-color: #FFFFFF;
    border: 1px solid #dee2e5;
    padding: 30px 25px 0 10px;
    max-width: 790px;
    font-family: Roboto-Light;
    font-size: 16px;
    line-height: 24px;
	margin:0 auto 25px;
	box-shadow: 0 0 5px #e1e5e9;
}

.description {
    overflow: hidden;
}

.safety-text1::before {
    content: "1";
}

.safety-text2::before {
    content: "2";
}

.safety-text3::before {
    content: "3";
}

.safety-text1::before, .safety-text2::before ,.safety-text3::before {
    background-color: #00376b;
    width: 50px;
    height: 40px;
    color: #FFFFFF;
    font-family: Roboto-Bold;
    font-size: 50px;
    text-align: center;
    padding: 35px 20px 15px;
    margin: 0 25px 10px;
    float: left;
}

.safety img {
    float: right;
    width: 140px;
    float: right;
    margin: 0 20px;
}

.interest_payments {
    background-image: url(../img/red_bg.jpg);
    background-position: center center;
    background-size: cover;
    margin: 5px 0;
}

.interest_payments h2 {
    text-align: center;
    color: #ffffff;
    font-size: 34px;
    letter-spacing: 0.8px;
    margin: 5px auto 0;
    padding: 50px 0 30px;
    font-family: Roboto-BoldCondensed;
}

.payments_ways {
    display: flex;
    flex-wrap: wrap;
	margin: auto;
	max-width: 950px;
}

.payments_ways .payment {
    padding: 0px 30px 50px;
    box-sizing: border-box;
    width: 33.333%;
}

.payment .inner .text1 {
    text-align: center;
    color: #ffffff;
    font-family: Roboto-Bold;
    font-size: 22px;
    padding: 30px 0 5px;
}

.payment .inner .text2 {
    text-align: center;
    color: #ffffff;
    font-family: Roboto-Light;
    font-size: 16px;
    max-width: 183px;
    margin: auto;
}

.payment .icon {
    background: url(../img/sprites.svg) #FFFFFF;
    border: 1px solid #dee2e5;
    width: 135px;
    height: 135px;
    margin: auto;
}

.payments_ways .on_card .icon {
    background-position: -290px -120px;
}
.payments_ways .on_saving .icon {
    background-position: -140px -120px;
}
.payments_ways .by_cash .icon {
    background-position: -985px -110px;
}

.fond_finansirovaniya {
    background-image: url(../img/pattern_diagonal.png);
    background-position: center center;
}

.fond_finansirovaniya .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1240px;
    padding: 40px 0;
}

.first_column {
    flex: 1;
    display: flex;
}

.second_column {
    flex-basis: 550px;
}

.fond_wrapper {
    padding: 20px;
}

.about_fond, .predsedatyel, .requisites {
    border: 1px solid #dee2e5;
	box-shadow: 0 0 5px #e1e5e9;
	background-color: #FFFFFF;
	height: 100%;
}

.about_fond {
    padding: 20px 40px 0 45px;
    text-align: justify;
}

.about_fond .logo {
    background-color: red;
    width: 250px;
    height: 115px;
    margin-bottom: 10px;
}

.about_fond h3 {
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #000000;
    padding: 5px 0;
}

.about_fond p {
    font-family: Roboto-Light;
    font-size: 16px;
    line-height: 24px;
    margin: 5px 0 20px;
    letter-spacing: 0;
}

.predsedatyel {
    max-height: 390px;
}

.predsedatyel img {
    width: 200px;
    height: 280px;
    float: left;
    padding: 20px 20px 0 15px;
}

.predsedatyel .quote {
    font-family: Roboto-Light;
    font-style: italic;
    font-size: 16px;
    height: 280px;
    padding: 20px 40px 0 0;
    line-height: 24px;
}

.predsedatyel .blue_line {
    background-color: #00376b;
    height: 90px;
}

.predsedatyel .blue_line .name {
    color: #ffffff;
    text-align: right;
    padding: 20px 40px 5px;
    font-family: Roboto-Light;
    font-size: 18px;
}

.predsedatyel .blue_line .position {
    color: #ffffff;
    text-align: right;
    padding-right: 40px;
    font-family: Roboto-Light;
    font-size: 14px;
}

.requisites {
    text-align: left;
    padding: 20px 50px 50px;
}

.requisites h3 {
    font-family: Roboto-Bold;
    font-size: 22px;
    line-height: 24px;
    margin-top: 30px;
}

.requisites p {
    font-family: Roboto-Light;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}

.requisites ul {
    font-family: Roboto-Light;
    font-size: 14px;
    line-height: 30px;
    padding: 0;
}

.requisites li {
    list-style: none;
}

.requisites li a {
    line-height: 30px;
}

.requisites .icon::before {
    content: "";
    background: url(../img/sprites.svg) #FFFFFF -52px -282px;
    width: 30px;
    height: 30px;
    float: left;
}

.reestr {
    background-image: url(../img/red_bg.jpg);
    background-position: center center;
    background-size: cover;
    margin: 5px 0 0;
}

.reestr .text {
    padding: 70px 0;
}

.reestr .box, .fond, .law {
    color: #ffffff;
    text-align: center;
}

.reestr .box {
    margin: auto;
    max-width: 550px;
    padding: 10px;
}

.number {
    display: inline-block;
    font-family: Roboto-Bold;
    font-size: 66px;
    box-sizing: content-box;
    float: left;
}

.vreestre {
   display: inline-block;
   font-family: Roboto-Regular;
   font-size: 22px;
   box-sizing: content-box;
   padding: 10px 0;
   letter-spacing: 0.2px;
   max-width: 300px;
}

.fond {
    font-family: Roboto-Bold;
    font-size: 30px;
    letter-spacing: 1.3px;
    padding: 5px 0 10px;
}

.law {
    font-family: Roboto-Light;
    font-size: 18px;
    padding: 15px;
    max-width: 700px;
    margin: auto;
}

@media (max-width: 700px) {
    .program_wrapper {
          width: 100%;
    }
}

@media (max-width: 500px) {
    .safety-text1::before, .safety-text2::before ,.safety-text3::before {
          clear: right;
    }
}

@media (max-width: 450px) {
    .payments_ways .payment {
     width: 100%;
    }
}

@media (max-width: 800px) {
    .payments_ways .payment {
     flex: 1;
    }
}

@media (max-width: 450px) {
    .number {
        float: none;
    }
}