@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf')  format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-BoldCondensed';
  src: url('../fonts/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-BoldCondensed.woff') format('woff'), url('../fonts/Roboto-BoldCondensed.ttf')  format('truetype'), url('../fonts/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/Roboto-Condensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Condensed.woff') format('woff'), url('../fonts/Roboto-Condensed.ttf')  format('truetype'), url('../fonts/Roboto-Condensed.svg#Roboto-Condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf')  format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
}

main {
    display: block;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.saving-programs {
    background-image: url(../img/architecture_bg.jpg);
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 15px #e1e5e9;
}

h2 {
    text-align: center;
    color: #00376b;
    font-size: 34px;
    letter-spacing: 0.8px;
    margin: 5px auto 0;
    padding: 50px 0 30px;
    font-family: Roboto-BoldCondensed;
}

h3 {
    color: #00376b;
    margin: 0 auto 15px;
    font-family: Roboto-Bold;
    font-size: 22px;
    letter-spacing: 0.7px;
}

.programs {
    display: flex;
    flex-wrap: wrap;
	margin:0 -20px;
}

.programs .program {
    position: relative;
    box-sizing: border-box;
    padding: 0px 20px 55px;
    width: 33.333%;
    box-shadow: 0 0 5px #e1e5e9;
}

.programs .redline {
    background: url(../img/pattern_diagonal.png) rgba(196,0,10,0.75);
    height: 85px;
}

.programs .inner {
    background-color: rgba(255,255,255,0.75);
    padding: 60px 30px 45px;
    font-family: Roboto-Bold;
}

.programs .percent {
    text-align: center;
    color: #c4000a;
    font-size: 66px;
}

.programs .text {
    text-align: center;
    font-size: 24px;
}

.programs .icon {
    background: url(../img/sprites.svg) #FFFFFF;
    border-radius: 50%;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 25px;
	left:0;
	right:0;
	margin:auto;
}

.programs .start .icon {
    background-position: -990px -490px;
}
.programs .optimum .icon {
    background-position: -145px -490px;
}
.programs .maximum .icon {
    background-position: -300px -490px;
}

.safety {
    background-image: url(../img/pattern_diagonal.png);
    text-align: center;
    background-position: center center;
}

.safety-text1, .safety-text2, .safety-text3 {
    text-align: justify;
    background-color: #FFFFFF;
    border: 1px solid #dee2e5;
    padding: 30px 15px 15px 30px;
    max-width: 790px;
    font-family: Roboto-Light;
    font-size: 16px;
    line-height: 24px;
	margin:0 auto 25px;
	box-shadow: 0 0 5px #e1e5e9;
}

.description {
    overflow: hidden;
}

.safety-text1::before {
    content: "1";
}

.safety-text2::before {
    content: "2";
}

.safety-text3::before {
    content: "3";
}

.safety-text1::before, .safety-text2::before ,.safety-text3::before {
    background-color: #00376b;
    width: 50px;
    height: 40px;
    color: #FFFFFF;
    font-family: Roboto-Bold;
    font-size: 50px;
    text-align: center;
    padding: 35px 20px 15px;
    margin-right: 25px;
    float: left;
}

.safety img {
    float: right;
    width: 140px;
    float: right;
    margin: 0 20px;
}

@media (max-width: 700px) {
    .programs .program {
          width: 100%;
    }
}