.head_wrwrapper {
    position: relative;
    left: 50%;
    margin-left: -600px;
    width: calc(50% + 600px);
    background: blue;
}

.logo{
	float: left;
    width: 250px;
    height: 100px;
    display: block;
}
.phones{
	float:right;
	background:red;
}
.menu{
	background:green;
    overflow: hidden;
}